/*  your css code here. If applicable */
#buttons{
	width:600px;
	height:200px;
	background-color:mediumpurple;
	display:flex;
	justify-content:space-around;
	align-items:center;
}
.btn,.stop{
	padding:10px;
	border-radius:5px;
	color:white;
	background-color:rebeccapurple;
}